<!DOCTYPE html>
<html>
<head>
	<title>School Database</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<!--nav bar-->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/student">Student</a></li>
  <li><a href="/enrollment">Enrollment</a></li>
  <li><a href="/student_class">Students_Classes(M-M)</a></li>
  <li><a href="/instructor">Instructors</a></li>
  <li><a href="/academic_rank">Academic Rank</a></li> 
  <li><a href="/class">Classes</a></li>
  <li><a href="/degrees">Degrees</a></li>
  <li><a href="/student_degree">Students_Degrees(M-M)</a></li>
</ul>

	{{{body}}}

</body>
</html>