<h1>Home</h1> 

<h3>Welcome to the OSU student database. </h3>
<p>The purpose of this database is to retrieve student information about the classes they are enrolled in. You may add, edit/update, or remove each student, instructor, class, and academic ranking. Still under construction and CSS will be added shortly.</p>

<p><b><u>Note to testers:</u></b></p>
<p>At this time, if there is no physical data available, the table results will show blank - currently we do not have any data validation at this time.  Please let us know what other functionalities/filters (within the context of this course) that you would like to see! Thank you for your feedback.</p>


<img src="pic.jpg" width="800" height="500" alt="MyPic">